<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index Page</title>
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <p>Welcome to Shanghai!</p>
    <div id='counter'>
        Counter {{counter}}
    </div>
    <script>
        const Counter = {
            data() {
                return {
                    counter: 0
                }
            },
            mounted() {
                setInterval(() => {
                    this.counter++
                }, 1000)
            }

        }
        Vue.createApp(Counter).mount('#counter')
    </script>
</body>

</html>